body{
	font-family: alternate-gothic-no-1-d, sans-serif;
    font-size: 1.3rem;
    margin: o;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.colspan-1, .colspan-2, .colspan-3, .colspan-4, .colspan-5, .colspan-6, .colspan-7, .colspan-8, .colspan-9, .colspan-10, .colspan-11, .colspan-12, .colspan,
.colspan-auto, .colspan-sm-1, .colspan-sm-2, .colspan-sm-3, .colspan-sm-4, .colspan-sm-5, .colspan-sm-6, .colspan-sm-7, .colspan-sm-8, .colspan-sm-9, .colspan-sm-10, .colspan-sm-11, .colspan-sm-12, .colspan-sm,
.colspan-sm-auto, .colspan-md-1, .colspan-md-2, .colspan-md-3, .colspan-md-4, .colspan-md-5, .colspan-md-6, .colspan-md-7, .colspan-md-8, .colspan-md-9, .colspan-md-10, .colspan-md-11, .colspan-md-12, .colspan-md,
.colspan-md-auto, .colspan-lg-1, .colspan-lg-2, .colspan-lg-3, .colspan-lg-4, .colspan-lg-5, .colspan-lg-6, .colspan-lg-7, .colspan-lg-8, .colspan-lg-9, .colspan-lg-10, .colspan-lg-11, .colspan-lg-12, .colspan-lg,
.colspan-lg-auto, .colspan-xl-1, .colspan-xl-2, .colspan-xl-3, .colspan-xl-4, .colspan-xl-5, .colspan-xl-6, .colspan-xl-7, .colspan-xl-8, .colspan-xl-9, .colspan-xl-10, .colspan-xl-11, .colspan-xl-12, .colspan-xl,
.colspan-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.colspan {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.colspan-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.colspan-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.colspan-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.colspan-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.colspan-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.colspan-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.colspan-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.colspan-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.colspan-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.colspan-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.colspan-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.colspan-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.colspan-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.logo{
	padding: 0;
}
.logo img{
	height: auto;
	width: 100%;
	
}
.main-wrapper{
  
      min-height: 100vh;
}

@media (min-width: 768px) {
.main-wrapper{
  display: flex;
  }
.openbtn{
  display: none;
}
}
.sidebar-head{
  background: #fff;
  padding: 1.5rem;
  border: 1px solid #bcbcbc;
}
.sidebar-wrap{
  padding: 0 !important;
}

@media (max-width: 768px) {
.prof-icon {
    height: auto;
    width: 40px !important;
    margin-left: 15px;
}
.sidebar-wrap{
  display: none;
  }
.sidenav-wrap{
  display: block;
}
}
.prof{
  padding: 1rem 0.5rem;
    display: flex;
}
.prof a{
  text-align: center;
  width: 100%;
  color: #000;
}
.prof a:hover{
  text-decoration: none;
  color: #000;
}
.prof-icon{
    height: auto;
    width: 30px;
    margin-left: 15px;
}
.sidebar-menu{
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
}
.sidebar-menu .sidebar-menu-item{
  font-style: normal;
  padding: 0.5rem 1rem;
}
.sidebar-menu-item .fas {
    margin-right: 10px;
    font-size: 1rem;
    margin: 0rem 0.5rem;
    width: 2rem;
}
.sidebar-menu .sidebar-menu-item:hover {
  background: #1e2b57;
  color: #fff;
}

.sidebar-menu .sidebar-menu-item.active {
  background: #1e2b57;
  color: #fff;
}

.dash-main{
  padding: 0px !important;
}
.dash-main-nav{
  background: #1e2b57;
    padding: 1.5rem;
    border: 1px solid #1e2b57;
    display: flex;
}
.dash-main-body{
  display: inline-block;
  width: 100%;
}
.dash-main-nav-search{
  width: 100%;
}
.dash-main-nav-search input, .dash-main-nav-search input:focus, .dash-main-nav-search input:active{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.dash-main{
  background: #e4eaf6;
}
.dash-main-nav-settings{
  float: right;
}
.dash-main-nav-search .fas, .dash-main-nav-settings .fas{
  color: #bcbcbc;
  font-size: 1rem;
    margin: 0rem 0.5rem;
}


.sidenav-wrap {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background: #fff;
}

.sidenav-wrap a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav-wrap a:hover {
  color: #f1f1f1;
}

.sidenav-wrap .closebtn {
  position: absolute;
    top: -1.5rem;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    color: #fff;
    z-index: 0;
}

@media screen and (max-height: 450px) {
  .sidenav-wrap {padding-top: 0px;}
  .sidenav-wrap a {font-size: 18px;}
}

.dash-main-form{
    padding: 1rem;
}

.dash-main-form form{
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 10px;
    padding: 1rem;
    width: 75%;
    margin: 0 auto;
    margin-top: 1rem;
}

.dash-main-form form  input[type="text"],input[type="url"], .dash-main-form form label{
    width: 100%
}

.dash-main-form form  .row{
  padding-bottom: 1rem;
}

.dash-main-form form  input[type="submit"],input[type="button"]{
    background: #1e2b57;
    border: #1e2b57;
    color: #fff;
    padding: 0.5rem 2rem;
    float: right;
}

.dropdown{
  padding: 0 !important;
}
.dropdown a, .dropdown a:hover, .dropdown a:focus {
  text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
  position: relative;
  display: block;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.dropdown [data-toggle="dropdown"]:hover , .dropdown [data-toggle="dropdown"]:active{
 color: #fff;
}
.dropdown:hover [data-toggle="dropdown"], .dropdown:active [data-toggle="dropdown"]{
  color: #fff;
}

.dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: #000;
  top: 14px;
  right: 10px;
}

.dropdown .icon-arrow.open {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;

}
.dropdown [data-toggle="dropdown"]:hover .icon-arrow {
 color: #fff;
}
.dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow:before {
  content: "\25BC";
}
.dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown .dropdown-menu li {
  padding: 0;
}
.dropdown .dropdown-menu li a {
  display: block;
  color: #6f6f6f;
  background: #eee;
  -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
  -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
  box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.dropdown .dropdown-menu li a:hover {
  background: #f6f6f6;
}
.dropdown .show,
.dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.dropdown .show {
  display: block;
  width: 100%;
  max-height: 9999px;
  position: relative !important;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -webkit-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.progress-div {
    display: flex;
    margin-bottom: -10px;
}

.smart-progress {
    width: 100%;
    margin-left: 10px;
    height: 10px !important;
    margin-top: 2px;
    border-radius: 10px !important;
    margin-bottom: 20px !important;
}

@media (max-width: 800px) {
    .smart-progress {
        width: 90%;
    }

    .section-progress-one {
      width: 50% !important;
    }
}

.new-h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.section-one-footer {
    color: #ba031c;
    font-weight: bold;
}

.section-progress-one {
    width: 34%;
    color: #8896a1;
    font-size: 12px;
    font-weight: bold;
}

.section-progress-two {
    width: 60%
}

.foot-bg{
  background: #f9fafb;
  padding: 20px;
  box-shadow: inset 0px 0px 10px rgba(224, 224, 224, 0.9);
}

.progress-bar-dang{
  background: #ba031c !important;
}

.progress-bar-warn{
  background: #fb9209 !important;
}
.dash-main-form-btn{
    margin: 0rem 0.5rem;
}